{% extends "base.html" %}

{% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li><a href="{{ SITEURL }}">Blog</a> </li>
          <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
          <li><a href="{{ SITEURL }}/tags.html">Tags</a> </li>
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}">RSS</a> </li>
          <li class="current"><a href="{{ SITEURL }}/test.html">About</a></li>
        </ol>
      </div>
{% endblock navigation %}

{% block content %}
<h2>JOOOO:</h2>


{% endblock %}
